<!DOCTYPE html>
<html lang="ja">
<head>
<% content_for :title do %>
TOEIC::HACK | 解説
<% end %>
<link rel="stylesheet" href="https://unpkg.com/ress/dist/ress.min.css">
<link rel="stylesheet" href="top.css" type="text/css">

    
</head>

<body>
<%= render "shared/header2" %>

    <div class="content_post" >
      <h1><label>質問</label></h1>
      <img src="<%= "#{@question.picture}" %>">
      <h2><%= @question.text %></h2>
    </div>
    <%= form_for(@answer) do |f| %>
      <div class="content_post" >
      <%= f.text_area :detail, placeholder: "回答を入力してください", cols:"40", rows:"10" %>
      <%= f.hidden_field :question_id %>
      <%= f.hidden_field :user_id %>
      </div>
      <div class="content_post" >
        <%= f.submit "回答する"%>
    <% end %>
      </div>
    

</body>
</html>